@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');


.estrutura {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding-top: 10%;
}

.estrutura img {
    border-radius: 7px;
}

.estrutura .introducao {
    padding: 30px 5px;
}

.estrutura .introducao .titulo {
    font-family: 'Young Serif', serif;;
    padding-bottom: 15px;
}

.estrutura .tempo {
    padding: 5px 0px 30px 20px;
}

.estrutura .tempo h3 {
    padding-bottom: 10px;
    color: hsl(327, 55%, 43%);
}

.estrutura .tempo ul {
    padding-left: 20px;
}

.estrutura .tempo ul li {
    padding: 5px;
}

.estrutura .ingredientes ul {
    padding-bottom: 30px;
    padding-left: 22px;
}

.estrutura .ingredientes  ul li {
    padding: 5px;
}

.estrutura .instrucao ol {
    padding-bottom: 30px;
    padding-left: 22px;
    list-style-type: decimal;
    counter-reset: item;
}

.estrutura .instrucao ol li {
    padding-left: 10px;
}

.estrutura .instrucao ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.estrutura .instrucao .passos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.estrutura .nutricao p {
    padding-bottom: 23px;
}

.estrutura .nutricao .lista {
    display: flex;
    justify-content: space-between;
    padding: 5px 90px;
}

.estrutura .nutricao .lista ul {
    list-style: none;
}

.estrutura .nutricao .lista .suplimento li {
    padding: 8px;
    font-family: 'Outfit', sans-serif;
}

.estrutura .nutricao .lista .valor li {
    padding: 8px;
    color: hsl(14, 45%, 36%);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

footer {
    background-color: hsl(14, 45%, 36%);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}